body {
    text-align: center;
}

section {
    width: 400px;
    margin: auto;

}

.frame {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 1rem 0;
}

.slide {
    display: block;
    margin-bottom: 2rem;
    opacity: 0;
    height: 300px;
    width: 400px;
    border-radius:5%
}

.hide {
    display: none;
}

.current {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    width: 400px;
    height: 300px;
}

.spacer {
    padding: 2rem;
}


h1{
    display:flex;
    justify-content: center;
    background-color: rgb(9, 9, 9);
    padding-top: 40px;
    padding-bottom: 40px;
    color: white
}

a:hover{
    color: crimson;
}